.container1
{
    border: 0px solid black;
    display: inline-block;
}

.tengah {
    
    padding: 5px 5px;
}

.Pwarna {
    font-weight: lighter;
}

.Pmater {
    font-size: 12px;
}

.Pname {
    font-size: 36px;
}

.Pprice {
    font-size: 18px;
}

.Pdes {
    font-size: 14px;
    text-align: justify; 
    font-weight: lighter;
}

.Psize {
    font-size: 12px; 
}

.Pmed {
    font-size: 24px;
}



.buttonCart {
    border: 2px rgb(0, 0, 0)
    ;
    width: 150px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
} 
.buttonCart:hover {
    background-color: white;
    color: black;

} 

.bold {
    font-weight: bold; 
    
}

.kanan {
    padding: 5px 5px;
    display: inline-block; 
    text-align: right;
    
}